In [2]:

name = "Alex Mason"
print(name)

Alex Mason

In [3]:
city = input('enter your city')

In [4]:
college = input('enter your college name')

In [7]:
classname = input('enter your class name')

In [8]:
iq = input('enter your iq')

In [13]:
print(name)
print(city)
print(college)
print(classname)
print(iq)

Alex Mason
lucknow
lbsgcm
Bca 2nd
95

In [19]:
print(name, city, college,classname,iq, sep=' ðŸ˜Š   ')

Alex Mason ðŸ˜Š   lucknow ðŸ˜Š   lbsgcm ðŸ˜Š   Bca 2nd ðŸ˜Š   95

In [22]:
f'hello {city}'

'hello lucknow'

In [23]:
print(f'hi, i am  {name}')
print(f' i live in {city}')
print(f'i study in {college}')
print(f'i am in {classname}')
print(f'my iq is {iq}')

hi, i am  Alex Mason
 i live in lucknow
i study in lbsgcm
i am in Bca 2nd
my iq is 95

In [24]:
print(f'hi, i am {name} and i live in {city}')

hi, i am Alex Mason and i live in lucknow

In [3]:
input()

'1'

In [5]:
msg=input()

In [6]:
hero = input('Who is your fav hero?')

In [8]:
name=input('enter your name:')
age = input('enter your age:')
school = input('enter your school name:')

In [10]:
age =input("enter ur age:")
type(age)

str

In [11]:
age = input("enter ur age:")
age = int (age)#Casting
type(age)

int

Casting--
          casting is when you convert a variable value from one type to another .

In [12]:
x='100'
y='-90'

In [13]:
x+y

'100-90'

String value don't work like math.

In [14]:
x = int(x)

In [15]:
y = int(y)

In [16]:
x+y

10

In [17]:
z=1.232

In [18]:
z1=int(z)

In [19]:
z

1.232

In [20]:
type(z)

float

In [21]:
z1

1

In [22]:
type(z1)

int

In [24]:
a=input('your name>>>')
type(a)

str

In [25]:
b = input('age of tiger')
type(b)

str

In [26]:
x=5
x=str(5)
type(x)

str

In [28]:
pi = 3.145
p = int(pi)
type(p)

int

In [29]:
num = 0
val = bool(num)
type(val)

bool

In [30]:
married = 'yes'
m = bool(married)
type(m)

bool

In [31]:
print("one can believe in a story without believing it happened")

one can believe in a story without believing it happened

In [32]:
print('Brandon Sanderson','Oathbringer')

Brandon Sanderson Oathbringer

In [33]:
name = 'Harry potter'
name
print(name)

Harry potter

In [34]:
print(1, 2, 3, 4)

1 2 3 4

In [35]:
print(1, 2, 3, 4, sep='*')

1*2*3*4

In [36]:
print(1, 2, 3, 4, sep='#',end='&')

1#2#3#4&

In [37]:
# the f strings
qty = 10
fruit = 'apple'
print('i will purchase ',qty,fruit,'today')

i will purchase  10 apple today

In [38]:
name="digipodium"
type_of_company = "Educational"
#enclose your variable within the ()
# to display it's value in the output
print(f"{name} is an {type_of_company} company.")

digipodium is an Educational company.