In [4]:

movies = ['shrek','kungfu panda',
          'How to train your dragon','ice age',
          'the lion king','the little mermain','the jungle  book','aladdin','the little prince',
          'final fantacy']

In [6]:
print (f'total movies ={len(movies)}')

total movies =10

In [7]:
for movie in movies:
    print(movie)

shrek
kungfu panda
How to train your dragon
ice age
the lion king
the little mermain
the jungle  book
aladdin
the little prince
final fantacy

In [8]:
for movie in movies:
    print(movie, len(movie))

shrek 5
kungfu panda 12
How to train your dragon 24
ice age 7
the lion king 13
the little mermain 18
the jungle  book 16
aladdin 7
the little prince 17
final fantacy 13

In [14]:
for movie in movies:
    print(f'{movie:30} {len(movie)}')

shrek                          5
kungfu panda                   12
How to train your dragon       24
ice age                        7
the lion king                  13
the little mermain             18
the jungle  book               16
aladdin                        7
the little prince              17
final fantacy                  13

In [16]:
num = [32,56,23,56,12,12,67,56,7,2]
for i in num:
    print(i)

32
56
23
56
12
12
67
56
7
2

In [17]:
num = [32,56,23,56,12,12,67,56,7,2]
for i in num:
    print(i, i**2)

32 1024
56 3136
23 529
56 3136
12 144
12 144
67 4489
56 3136
7 49
2 4

In [19]:
for i in num:
    if i % 2==0:
        print(i,i**2)

32 1024
56 3136
56 3136
12 144
12 144
56 3136
2 4

In [20]:
for i in num:
    if i % 2!=0:
        print(i,i**2)

23 529
67 4489
7 49

In [21]:
sum(num)

323

In [24]:
total_evens = 0
for i in num:
    if i % 2 == 0:
        total_evens += i
print(total_evens)

226

In [29]:
for i in num:
    print(i)
    if i>60:
        break

32
56
23
56
12
12
67

In [31]:
x=["apple",'potato','banana','','orange','mango']
for item in x:
    print(item)

apple
potato
banana

orange
mango

In [33]:
x=["apple",'potato','banana','','orange','mango']
for item in x:
    if len(item) ==0:
        break
    print(item)

apple
potato
banana

In [36]:
errors =0
while True:
    username = input('Enter username:')
    password = input('Enter password:')
    if username =='admin' and password == 'secret':
        print('Login successful')
        break
    elif errors == 3:
        print('Too many errors')
    else:
        print('Invalid username/ password')
        errors += 1

Invalid username/ password
Invalid username/ password
Invalid username/ password
Login successful